.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: -15px;
}

.edit {
  font-size: 30px;
}

.ant-input.edit-input {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
}

.ant-input.edit-input:hover {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #56c7bc;
  box-shadow: none;
}

.ant-btn.submit-button {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 30px;
  color: #56c7bc;
  border: 1px solid #56c7bc;
  background-color: white;
  font-size: 20px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn.submit-button:hover {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 30px;
  background-color: #56c7bc;
  border: 1px solid #56c7bc;
  font-size: 20px;
  line-height: 20px;
}

.hr {
  color: black;
}

.content {
  display: flex;
  margin-top: 25px;
}

.item-name {
  font-size: 20px;
  line-height: 20px;
  width: 25%;
  margin-right: 5%;
}

.item-content {
  font-size: 20px;
  line-height: 20px;
  width: 65%;
}