/* .ant-btn.submit-button:hover {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 40px;
  color: #56c7bc;
  border: 1px solid #56c7bc;
  background-color: white;
  font-size: 24px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
} */

.ant-btn.submit-button {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 40px;
  color: white;
  background-color: #56c7bc;
  border: 1px solid #56c7bc;
  font-size: 24px;
  line-height: 20px;
}

.ant-btn.submit-button:hover {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 40px;
  color: white;
  background-color: #56c7bc;
  border: 1px solid #56c7bc;
  font-size: 24px;
  line-height: 20px;
}

.ant-btn.gotit-button {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 30px;
  color: white;
  background-color: #56c7bc;
  border: 1px solid #56c7bc;
  font-size: 18px;
  line-height: 20px;
}

.ant-btn.gotit-button:hover {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 30px;
  color: white;
  background-color: #56c7bc;
  border: 1px solid #56c7bc;
  font-size: 18px;
  line-height: 20px;
}

.copy {
  align-self: flex-start;
}