.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  border-bottom: 1px solid #C0C0C0;
  align-items: center;
}

.logo {
  height: 50px;
  /* margin-top: 10px; */
  margin-left: 1vw;
}

.add-event-button {
  margin-left: 3vw;
}

.user-icon {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  background-color: #C0C0C0;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-right: 4vw;
}
