.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #F0F0F0;
}

.logo {
  vertical-align: top;
  height: 50px;
  margin-right: 20px;
  margin-top: 10px; /* if you want it vertically middle of the navbar. */
}

.add-event-button {
  vertical-align: top;
  margin-top: 14px;
}

.user-icon {
  vertical-align: top;
  margin-top: 14px;
  margin-right: 40px;
}