.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-name {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: -15px;
}

.add {
  font-size: 30px;
}

.groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ant-btn.ongoing-card {
  font-size: 16px;
  color: black;
  text-shadow: none;
  text-align: left;
  box-shadow: none;
  width: 306px;
  height: 108px;
  margin-bottom: 25px;
  margin-right: 44px;
  border-radius: 10px;
  border-color: transparent;
  background-color: #fffada;
  display: inline-block;
  align-items: center; 
  display: flex;
}

.ant-btn.ongoing-card:hover {
  background-color: #ffe956;
  color: black;
  border-color: transparent;
}

.ant-card.ongoing-card-edit {
  font-size: 16px;
  color: black;
  text-shadow: none;
  text-align: left;
  box-shadow: none;
  width: 306px;
  height: 108px;
  margin-bottom: 25px;
  margin-right: 44px;
  border-radius: 10px;
  border-color: transparent;
  background-color: #fffada;
  display: inline-block;
  align-items: center; 
  display: flex;
  position: relative;
}

.remove {
  position: absolute;
  top: 15px;
  left: 275px;
  color: #b8b8b8;
}