.login-form {
  /* border: 1px solid black; */
  width: 20vw;
}
.login-form-forgot {
  float: right;
}

button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation:none 0 ease 0 1 normal;
}