.amount-block {
  background-image: linear-gradient(#01A494, #ECFCFA);
  width: 40px;
  height: 90px;
  margin-top: -12px;
}
.time-block {
  height: 40px;
  border: 1px solid #E0E0E0;
  background-color: #01A494;
}
.test {
  height: 40px;
  border: 1px solid #E0E0E0;
  background: #FFF;
}
.name-block {
  flex-direction: column;
  margin-left: 530px;
  margin-top: -450px;
  width: 200px;
}