.box {
  text-align: center;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  font-size: 36px;
  font-weight: bold;
  background-color: #56c7bc;
  width: 93px;
  height: 93px;
  padding-top: 16px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  line-height: 10px;
}

.user-id {
  font-size: 20px;
  line-height: 0px;
  color: #707070;
}