.hr {
  color: black;
}

.deleteTitle {
  color: #f722b6;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.deleteContent {
  color: #f722b6;
  font-size: 15px;
  font-weight: bold;
  margin-top: -15px;
}

.ant-btn.delete-button {
  margin-top: -10px;
  margin-right: 10px;
  height: 30px;
  color: white;
  background-color: #f722b6;
  border: 1px solid #f722b6;
  font-size: 18px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn.delete-button:hover {
  margin-top: -10px;
  margin-right: 10px;
  height: 30px;
  color: white;
  background-color: #f722b6;
  border: 1px solid #f722b6;
  font-size: 18px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn.confirmbutton {
  margin-top: 10px;
  height: 30px;
  color: white;
  background-color: #56c7bc;
  border: 1px solid #56c7bc;
  font-size: 18px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn.confirmbutton:hover {
  margin-top: 10px;
  height: 30px;
  color: white;
  background-color: #56c7bc;
  border: 1px solid #56c7bc;
  font-size: 18px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn.cancelbutton {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  color: #56c7bc;
  background-color: white;
  border: 1px solid #56c7bc;
  font-size: 18px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn.cancelbutton:hover {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  color: #56c7bc;
  background-color: white;
  border: 1px solid #56c7bc;
  font-size: 18px;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}